.containerp{
    
    color: #fff;
    border-radius: 1rem;
    
}
.containerp img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 5px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.btn{
    width: 100%;
    
}
.items h2,h4{
    text-align: center;
}